---
Title: Cake.Coveralls
NoSidebar: true
NoContainer: true
NoGutter: true
---

<div class="container">				
	<h1>What is it?</h1>
    <p>
        Cake.Coveralls is an Addin for <a href="http://cakebuild.net/">Cake</a> which allows the posting of code coverage reports to <a href="https://coveralls.io/">coveralls.io</a>.
    </p>
</div>